* {
    margin: 0;
    padding: 0;
}

:root{
    --color1:#01579b;
    --color2:#00838f;
    --color3:#ffd600;
    --color4:#ff4081;
    --color5:#f44336;
    --color6:#92aec4;
    --color7:#38b5c0;
    --color8:#7177ca;
    --color9:#108bc4;
    --color10:#25a4b4;
}

body{
    overflow-x: hidden;
    /* 背景动画设置 */
    background-image: linear-gradient(125deg,#a18cd1,#fbc2eb,#fad0c4,#ff9a9e,#ff9a9e,#ffd1ff);
    background-size: 400%;
    animation: bganimation 15s infinite;
}

@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* 头部导航栏设置 */
.logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: -20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    background-color: rgb(103, 147, 223);
    /* 阴影 */
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    z-index: 99;
}

.header .nav {
    width: 100%;
    height: 100%;
    /* 元素水平居中 */
    margin: 0 auto;
}

.header li {
    /* 清除li元素前面的项目符号 */
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #000;
}

.header .nav ul {
    position: relative;
    /* 弹性布局 */
    display: flex;
    /* 子元素平均分配宽度 */
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.header .nav ul>li {
    width: 100%;
    height: 100%;
}

.header .nav ul>li>a {
    /* a元素由行内元素转变为块元素 */
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
}

.header .nav ul>li ol {
    width: 100%;
    background-color: rgba(103, 147, 223, .9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    /* 隐藏二级菜单 */
    transform: scaleY(0);
    /* 设置过渡动画 */
    transition: all .2s;
    transform-origin: 50% 0%;
}

.header .nav ul>li ol li {
    height: 50px;
    border-bottom: 2px solid rgb(82, 115, 171);
}

.header .nav ul>li ol li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
}

.header .nav ul>li ol li:hover {
    background-color: rgba(211, 182, 182, .3);
}

.header .nav ul>li:hover ol {
    transform: scaleY(1);
}





/* 页面 */

.page1 {
    margin-top: 60px;
    width: 100vw;
    height: 760px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page1 .magin{
    width: 1600px;
    height: 700px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}


.box-main {
    display: grid;
    grid-template-columns: 220px 700px 400px;
    grid-template-rows: 250px;
    grid-row-gap: 10px;
    margin-top: 40px;
}


/* 自我介绍头像部分 */
.page1 .box {
    display: block;
    width: 220px;
    height: 250px;
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, .3);
}

.page1 .box::before {
    content: '';
    display: block;
    width: 75px;
    height: 75px;
    margin: auto 40px;
    border-radius: 50%;
    transform: translate(40%, 15%);
    background-image: url(../img/ovo.jpg);
    background-size: cover;
    border: 5px solid rgb(225, 206, 206);
}

.page1 .picture{
    height: 200px;
    margin-top: -10px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.page1 .font{
    color: #fff;
    text-transform: uppercase;
    word-spacing: 100vw;
    text-align: center;
    font-family: 'Segoe UI Black';
    background: linear-gradient(225deg,
        var(--color1) 0%, var(--color1) 9%,
        transparent 9%, transparent 10%,
        var(--color2) 10%, var(--color2) 19%,
        transparent 19%, transparent 20%,
        var(--color3) 20%, var(--color3) 29%,
        transparent 29%, transparent 30%,
        var(--color4) 30%, var(--color4) 39%,
        transparent 39%, transparent 40%,
        var(--color5) 40%, var(--color5) 49%,
        transparent 49%, transparent 50%,
        var(--color1) 50%, var(--color1) 59%,
        transparent 59%, transparent 60%,
        var(--color2) 60%, var(--color2) 69%,
        transparent 69%, transparent 70%,
        var(--color3) 70%, var(--color3) 79%,
        transparent 79%, transparent 80%,
        var(--color4) 80%, var(--color4) 89%,
        transparent 89%, transparent 90%,
        var(--color5) 90%, var(--color5) 99%,
        transparent 99%
    );
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move 4s linear infinite; 
}

 @keyframes move{
    0%{
        background-position: 0px 100%;
    }
    100%{
        background-position: 100% 0px;
    }
} 

/* 自我介绍文字部分 */
.introduce {
    overflow: hidden;
    margin-top: 25px;
    margin-left: 10px;
    float: left;
    width: 700px;
    height: 250px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .3);
}

.introduce h2 {
    margin-left: 10px;
}

/* 自我介绍图片样式 */
.chika {
    float: right;
    display: block;
    margin-top: -205px;
}

.chika img {
    width: 150px;
    height: 251px;
}

/* 切图动画设置 */
.main {
    top: 25px;
    margin-left: 25px;
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}

.item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* 切图时间 */
    transition: all 0.5s;
    background-size: cover;
}

/* 图片导入设置 */
.item1 {
    background-image: url(../img/1.gif);
}

.item2 {
    background-image: url(../img/2.gif);
    left: 100%;
}

.item3 {
    background-image: url(../img/3.gif);
    left: 200%;
}

input {
    position: relative;
    z-index: 100;
    display: none;
}

.select {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 按钮设置 */
.select>label {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    border: 1.5px solid white;
}

.main input:nth-of-type(1):checked~.select label:nth-of-type(1) {
    background-color: rgb(0, 0, 0);
}

.main input:nth-of-type(2):checked~.select label:nth-of-type(2) {
    background-color: rgb(0, 0, 0);
}

.main input:nth-of-type(3):checked~.select label:nth-of-type(3) {
    background-color: rgb(0, 0, 0);
}

/* 切图设置 */
.main input:nth-of-type(1):checked~.item {
    transform: translateX(0);
}

.main input:nth-of-type(2):checked~.item {
    transform: translateX(-100%);
}

.main input:nth-of-type(3):checked~.item {
    transform: translateX(-200%);
}

img {
    width: 300px;
    height: 200px;
}

h2 {
    margin-top: 10px;
}

/* 个人技能内容样式 */
.skill {
    margin-top: 100px;
}

.skillbox {
    display: flex;
}

.gaine {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    perspective: 600px;
}

.img {
    position: absolute;
    transform-origin: right;
    transform: rotateY(0deg);
    opacity: 1;
    transition: 0.5s;
}

.caption {
    position: absolute;
    z-index: 0;
    background-color: #bfdecb;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    /* 元素的宽度和高度包含内边距和边框 */
    box-sizing: border-box;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-origin: left;
    transform: rotateY(90deg);
    opacity: 0;
    transition: 0.5s;
}

.gaine:hover .img {
    /* 悬停时图片消失 */
    transform: rotateY(-90deg);
    opacity: 0;
}

.gaine:hover .caption {
    /* 悬停时文字显示 */
    transform: rotateY(0deg);
    opacity: 1;
}

.caption h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.caption p {
    font-size: 20px;
}



.text{
    display: flex;
    justify-content: center;
}

.page2 {
    width: 100vw;
    height: 760px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 .magin {
    width: 1600px;
    height: 700px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}


.page2 .img {
    width: 180px;
    height: 280px;
    margin-left: 30px;
    border: 5px solid #7371c1;
    border-radius: 15px;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影颜色 */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.page2 .images1,.images2{
    width: 1580px;
    height: 330px;
    margin: 10px;
    display: grid;
    grid-template-columns: 526px 526px 526px;
    grid-template-rows: auto;
    background-color: rgba(255, 255, 255, 0.3);
}
.page2 .images{
    margin-top: 20px;
}
.page2 .picture{
    height: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
}
.page2 h1{
    font-size: 60px;
}

.page2 .font{
    color: #fff;
    margin-left: 110px;
    text-transform: uppercase;
    word-spacing: 100vw;
    text-align: center;
    background: linear-gradient(225deg,
        var(--color6) 0%, var(--color6) 9%,
        transparent 9%, transparent 10%,
        var(--color7) 10%, var(--color7) 19%,
        transparent 19%, transparent 20%,
        var(--color8) 20%, var(--color8) 29%,
        transparent 29%, transparent 30%,
        var(--color9) 30%, var(--color9) 39%,
        transparent 39%, transparent 40%,
        var(--color10) 40%, var(--color10) 49%,
        transparent 49%, transparent 50%,
        var(--color6) 50%, var(--color6) 59%,
        transparent 59%, transparent 60%,
        var(--color7) 60%, var(--color7) 69%,
        transparent 69%, transparent 70%,
        var(--color8) 70%, var(--color8) 79%,
        transparent 79%, transparent 80%,
        var(--color9) 80%, var(--color9) 89%,
        transparent 89%, transparent 90%,
        var(--color10) 90%, var(--color10) 99%,
        transparent 99%
    );
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move 4s linear infinite; 
}

 @keyframes move{
    0%{
        background-position: 0px 100%;
    }
    100%{
        background-position: 100% 0px;
    }
} 



.page3 {
    width: 100vw;
    height: 760px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3 .magin {
    width: 1600px;
    height: 700px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}

/* 第一排样式 */
.page3 .relation1 {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 160px;
    grid-column-gap: 190px;
    padding: 20px 0;
    margin-left: -60px;
}

.page3 .img1 {
    border: 5px solid #7371c1;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    margin: auto 80px;
}

/* 第二排样式 */
.page3 .relation2 {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 160px;
    grid-column-gap: 690px;
    margin-top: 35px;
    padding: 25px;
}

.page3 .relation2 .gif {
    border: 5px solid #7371c1;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.relation2 img {
    width: 250px;
    height: 160px;
}

/* 第三排样式 */
.page3 .relation3 {
    display: grid;
    grid-template-columns: 250px 700px;
    grid-template-rows: 160px;
    grid-column-gap: 235px;
    padding: 25px;
}

.page3 .img2 {
    width: 300px;
    height: 160px;
    border: 5px solid #7371c1;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    /* margin-left: 190px; */
}

.page3 .img3 {
    width: 700px;
    height: 160px;
    border: 5px solid #7371c1;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    /* margin-left: 135px; */
}

/* 文字样式 */
.page3 .email {
    position: relative;
    font-family: 'Segoe UI Black';
    font-size: 35px;
    z-index: 1;
    margin-left: -165px;
    margin-top: -314px;
}

.page3 .emailbule {
    position: relative;
    font-family: 'Segoe UI Black';
    color: rgb(234, 113, 113);
    font-size: 35px;
    z-index: 0;
    margin-left: -165px;
    margin-top: -47px;
}

.page3 .name {
    position: relative;
    font-family: 'Segoe UI Black';
    color: rgb(234, 113, 113);
    font-size: 35px;
    z-index: 0;
    margin-top: 96px;
    margin-left: -35px;
}

.page3 .qq {
    position: relative;
    font-family: 'Segoe UI Black';
    color: rgb(234, 113, 113);
    font-size: 35px;
    z-index: 0;
    margin-top: 96px;
    margin-left: 526px;
}

.page3 .wechar {
    position: relative;
    font-family: 'Segoe UI Black';
    color: rgb(234, 113, 113);
    font-size: 35px;
    z-index: 0;
    margin-top: 96px;
    margin-left: -475px;
}

/* 鼠标悬停样式 */
.type1:hover .qq {
    z-index: 2;
}

.type2:hover .name {
    z-index: 2;
}

.type3:hover .wechar {
    z-index: 2;
}

.type6:hover .emailbule {
    z-index: 2;
}




/* 页脚 */
.footer { 
    width: 100vw;
    height: 50px;
    background-color: rgb(103, 147, 223);
    font-size: 4px;
    color: #000;
}

.footer .Copyright{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    /* 规定行间距 */
    grid-row-gap: 4px;
    /* 设置盒子居中 */
    place-items: center center;
    z-index: 99;
}

@media screen and (min-height: 2100px) {
    .footer{
        position: fixed;
        bottom: 0;
    }
}